<a href="https://colab.research.google.com/github/Dhayanidhi-96/Dhayanidhi-96.github.io/blob/main/Numpy_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Analysing the data with numpy**

Data set link - (https://drive.google.com/file/d/1Zu1xLzjcRKgWJ-B2k1j4BdMVFutkiqic/view)

Analysis of Data on cab Rides To or from the Airports in New york City.

##**Problem statements**

1. Mean speed of all the Rides
2. Number of rides taken in February
3. Number of Rides where tip more Than $50
4. Number of rides where drop eas JFK Airport

In [ ]:
!jupyter nbconvert --to html /content/Numpy_Project.ipynb

[NbConvertApp] Converting notebook /content/Numpy_Project.ipynb to html
[NbConvertApp] Writing 584924 bytes to /content/Numpy_Project.html

In [ ]:
import numpy as np

In [ ]:
taxi = np.genfromtxt('nyc_taxis.csv',delimiter = ',',skip_header = True)

In [ ]:
speed = taxi[:,7]/(taxi[:,8]/3600)

## 1. Mean speed of all the Rides

In [ ]:
mean_speed = speed.mean()
print(mean_speed)

32.24258580925573

## 2. Number of rides taken in February

In [ ]:
rides_feb = taxi[taxi[:,1] == 2,1]
print(rides_feb.shape[0])

13333

# 3. Number of Rides where tip more Than $50

In [ ]:
print(taxi[taxi[:,-3]>50,-3].shape[0])

16

## 4. Number of rides where drop eas JFK Airport

In [ ]:
taxi[taxi[:,6] == 2,6].shape[0]

11832